//--Global Responsive css here--//
@media screen and (max-width: 1199px){
	h1 {
		font-size: 56px;
		line-height: 70.8px;
	}
	h3 {
		font-size: 38px;
		line-height: 49px;
	}
	h5 {
		font-size: 22px;
		line-height: 29.2px;
	}
}
@media screen and (max-width: 991px){
	h2 {
		font-size: 47px;
		line-height: 64.1px;
	}
	h3 {
		font-size: 34px;
		line-height: 42px;
	}
	h4 {
		font-size: 29px;
		line-height: 50.2px;
	}
}
@media screen and (max-width: 767px){
	h1 {
		font-size: 41px;
		line-height: 60.8px;
	}
	h5 {
		font-size: 19px;
		line-height: 29.2px;
	}
	h4 {
		font-size: 26px;
		line-height: 42.2px;
	}
}
@media screen and (max-width: 575px){
	h1 {
		font-size: 44px;
		line-height: 60.8px;
	}
	h2 {
		font-size: 37px;
		line-height: 54.1px;
	}
	h3 {
		font-size: 30px;
		line-height: 38px;
	}
	h4 {
		font-size: 22px;
		line-height: 38.2px;
	}
	h6 {
		font-size: 16px;
	}
}
@media screen and (max-width: 500px){
	h1 {
		font-size: 38px;
		line-height: 42.8px;
	}
	h2 {
		font-size: 30px;
		line-height: 44.1px;
	}
	h5 {
		font-size: 20px;
		line-height: 24.2px;
	}
}
@media screen and (max-width: 420px){
	h1 {
		font-size: 28px;
		line-height: 40.8px;
	}
	h2 {
		font-size: 27px;
		line-height: 36.1px;
	}
	h3 {
		font-size: 26px;
		line-height: 35px;
		font-weight: 600;
	}
	h4 {
		font-size: 19px;
		line-height: 26.2px;
	}
	h5 {
		font-size: 18px;
		line-height: 27.2px;
	}
	p{
		font-size: 16px;
	}
}
//--Global Responsive css end--//

//--Header menu here--//
@media (min-width: 1200px) and (max-width: 1599px){
	.bonus-shop-items{
		.shop-content{
			padding: 15px 15px 20px;
			.bonus-btn{
				margin-top: 18px;
				li{
					margin: 0 10px 10px 0;
					.cmn--btn{
						padding: 2px 15px 3px;
					}
				}
			}
			.animated-progress {
				margin: 11px 0 25px;
			}
			.exchange-area{
				.cmn--btn{
					padding: 3px 12px 4px;
				}
				p{
					font-size: 14px;
					span{
						margin-left: 5px;
					}
				}
			} 
		}
	}
	.bonus-tabing-wrapper.bonus-wrapper-two{
		.bonus-shop-items{
			padding: 20px 15px;
			.dollar{
				margin: 15px auto;
				text-align: center;
				max-width: 150px;
				height: 159px;
			}
		}
	}
}
@media (min-width: 1200px) and (max-width: 1400px){
	.other-bonus-items{
		border-radius: 10px;
		background-color: var(--form-bg);
		padding: 30px 30px; 
		display: grid;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		.thumb{
			margin: 20px 0 0 auto;
		}
	}
	.screen-items .screen-overlay .cmn--btn {
		padding: 6px 8px 6px;
		font-size: 12px;
		margin-top: -5px;
	}
	.table-wrapper {
		table{
			width: 700px;
		}
	}
	.bonus-section{
		.bonus-button-wrapper{
			.bonus-title{
				font-size: 31px;
			}
		}
	}
	.footer-wrapper{  
		.footer-top{
			padding: 50px 20px 40px;
			.footer-link-left{
				@include flex;
				justify-content: flex-start;
				align-items: center;
				li{
					&:not(:last-child){
						margin-right: 20px;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1399px){
	.header-top-wrapper{
		.middle-referral{
			ul{
				li{
					.search-icon{
						display: block;
					}
					form{
						display: none;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1199px){
	.header-top-wrapper{
		.middle-referral{
			display: none;
		}
		.header-top-social{
			li{
				display: none;
			}
		}
	}
	.left-site-menu{
		position: fixed;
		bottom: 0;
		width: 100%;
		z-index: 999;
		.left-box{
			width: 100%;
			height: auto;
			padding-bottom: 0;
			margin-bottom: 0;
			.header{
				background: var(--box-bg);
				.menu{
					ul{
						li{
							.page-link-wrapper{
								li{
									.nice-select{
										width: 150px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.right-site-menu{
		display: none;
	}
	.chat-modal{
		.btn{
			outline: none;
			box-shadow: none;
		}
		.chat-icon{
			display: block;
			position: fixed;
			bottom: 66px;
			right: 9px;
			z-index: 99;
		}
	}
	.app-section{
		display: block;
		position: fixed;
		bottom: 0;
		right: 0;
		background: var(--box-bg);
		width: 80%;
		z-index: 999;
		transform: skew(20deg);
		.mobile-app{
			transform: skew(-20deg);
		}
	}
	.modal{
		left: 9px;
		.modal-dialog{
			.modal-content{
				.modal-body{
					.right-site-menu{
						.main-chat-wrap{
							bottom: 320px;
						}
						.main-chat-codding{
							bottom: 190px;
							.items{
								form{
									.telegram{
										top: 50%;
										right: 5px;
										transform: translateY(-50%);
										img{
											width: 40px;
											height: 40px;
										}
									}
								}
							}
						}
						.right-box{
							.main-chat-codding{
								.items{
									form{
										max-width: 250px;
									}
									.left-icon{
										@include flex;
										align-items: center;
										&:hover{
											cursor: pointer;
										}
										span,
										a{
											label{
												i{
													color: #C6C6CB;
													font-size: 20px;
													&:hover{
														cursor: pointer;
													}
												}
											}
											input{
												display: none;
											}
											&:not(:last-child){
												margin-right: 10px;
											}
											i{
												color: #C6C6CB;
												font-size: 20px;
											}
										}
									}
									.right-icon{
										i{
											color: #C6C6CB;
											font-size: 20px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	//Bonus shop
	.bonus-shop-items{
		.shop-content{
			padding: 15px 15px 20px;
			.bonus-btn{
				margin-top: 18px;
				li{
					margin: 0 10px 10px 0;
					.cmn--btn{
						padding: 2px 18px 3px;
					}
				}
			}
			.animated-progress {
				margin: 11px 0 25px;
			}
			.exchange-area{
				.cmn--btn{
					padding: 3px 18px 4px;
				}
				p{
					font-size: 14px;
					span{
						margin-left: 5px;
					}
				}
			} 
		}
	}
	.play-items{
		.content{
			.title{
				margin-bottom: 6px !important;
			}
		}
	}
}
@media (min-width:768px) and (max-width: 991px){
	.contact-right-wrapper{
		.contact-list{
			li{
				.contact-items{
					.content{
						h4{
							margin-bottom: -5px;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 991px) {
	.table-wrapper{
        table{
            tr{
                td{
                    padding: 15px 10px 20px !important;
                }
            }
        }
    }

}
@media screen and (max-width: 575px){
	.header-top{
		padding: 15px 10px;
	}
	.header-top-wrapper{
		.logo{
			max-width: 100px;
			img{
				@include imgw;
			}
		}
		.middle-referral{
			display: none;
		}
		.header-top-social{
			li{
				display: none;
			}
			.btn-top-group{
				margin-left: 0;
				.cmn--btn{
					padding: 5px 15px 7px;
					&:not(:last-child){
						margin-right: 10px;
					}
				}
				.border-btn{
					padding: 5px 15px 7px;
				}
			}
		}
	}
	.body-middle{
		padding-top: 60px;
	}
	//contact
	.contact-right-wrapper{
		.heading-content{
			p{
				font-size: 18px !important;
				line-height: 28px;
			}
		}
	}
	//modal chat
	.modal{
		left: 9px;
		.modal-dialog{
			.modal-content{
				.modal-body{
					.right-site-menu{
						.main-chat-wrap{
							bottom: 280px;
						}
						.main-chat-codding{
							bottom: 150px;
						}
					}
				}
			}
		}
	}
}
//--Header menu end--//

//--Crimce menu here--//
@media screen and (max-width: 767px){
	.crime-items{
		display: grid;
        flex-wrap: wrap;
        .crime-content{
            width: calc(100% - 70px);
            h6{
                font-size: 15px;
            }
        }
        .cmn--btn{
            margin: 0 0 0 auto;
        }
	}
	//Tabbing table
	.table-wrapper{
        table{
            tr{
				th{
					padding: 15px 10px 15px;
					font-size: 18px;
				}
                td{
                    font-size: 14px;
					.tdicon-flex{
						.icon{
							img{
								width: 20px;
							}
						}
					}
                }
            }
        }
    }
}
@media screen and (max-width: 575px){
	.crime-items{
		padding: 10px 10px;
	}
	//Chat moda
	.chat-modal{
		.modal-dialog{
			margin: 0;
		}
	}
	.modal{
		top: 55px;
		z-index: 9;
		left: 0;
	}
	.modal-dialog{
		.right-site-menu{
			.right-box{
				width: 100%;
			}
		}
	}
}
//--Crimce menu end--//

//--Activity Screen Here--//
@media screen and (max-width: 1699px){
	.screen-items{
		.screen-overlay{
			h5{
				font-size: 16px;
				margin-bottom: 0;
			}
			.theme-text{
				font-size: 24px;
				margin-bottom: 0;
			}
			p{
				font-size: 16px;
			}
		}
	}
	//Letest section
	.letest-wrapper2,
	.letest-wrapper3,
	.letest-wrapper{
		.crime-items{
			.crime-thumb{
				width: 120px;
			}
			.crime-content{
				width: calc(100% - 120px);
				padding-left: 10px;
				p{
					font-size: 14px;
				}
			}
		} 
	}
	//Reword section
	.reword-section{
		padding: 20px 10px 0;
	}
	.reword-content{
		h2{
			font-size: 32px;
		}
		p{
			font-size: 20px;
		}
	}
	.level-wrapper{
		margin-top: 20px;
	}
	.reword-box{
		padding: 30px 20px;
		h3{
			margin-bottom: 10px;
			font-size: 26px;
		}
		p{
			font-size: 20px;
		}
		.claim-box{
			padding: 30px 20px;
			margin-top:30px;
			margin-bottom: 30px;
			h4{
				font-size: 20px;
			}
		}
	}
	.weekly-bonus{
		margin-top: 25px;
		padding: 30px 30px;
		h3{
			margin-bottom: 15px;
		}
		p{
			font-size: 20px;
		}
	}
}
@media screen and (max-width: 1399px){
	.screen-items{
		.screen-overlay{
			h5{
				font-size: 16px;
				margin-bottom: -2px;
			}
			.theme-text{
				font-size: 20px;
				margin-bottom: -5px;
			}
			p{
				font-size: 15px;
			}
		}
	}
	.chat-modal{
		button{
			img{
				width: 30px;
				height: 30px;
				object-fit: contain;
			}
		}
	}
	.winner-items{
		.winner-thumb{
			width: 90px;
			height: 130px;
		}
		.winner-content{
			padding: 5px 5px 5px 10px;
			width: calc(100% - 90px);
			p{
				font-size: 14px;
			}
		}
	}
	//jack
	.jackpot-wrapper{
		padding: 25px 20px;
		.jack{
			gap: 15px 8px;
			margin-bottom: 25px;
		}
		p{
			margin-bottom: 20px;
		}
		.jack2{
			gap: 15px 8px;
		}
		.jack-ticket{
			text-align: center;
			margin-top: 25px;
			p{
				font-size: 16px;
			}
		}
	}
	.timing-wrapper{
		padding: 25px 20px;
		.countdown{
			@include flex;
			flex-wrap: wrap;
			li{
				&:not(:last-child){
					margin-right: 14px;
				}
				span{
					font-size: 32px;
				}
			}
		}
		p{
			font-size: 15px;
		}
		.winning-area{
			@include flex;
			align-items: center;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-top: 25px;
			.nice-select{
				padding: 6px 10px;
				font-size: 16px;
			}
		}
		.review-wrapper{
			.review-items{
				@include flex;
				flex-wrap: wrap;
				&:not(:last-child){
					margin-bottom: 20px;
				}
				.man-view{
					.man{
						width: 50px;
						height: 50px;
					}
					.content{
						p{
							font-size: 16px;
							@include flex;
							align-items: center;
						}
					}
				}
				.dollar{
					p{
						font-size: 16px;
					}
				}
			}
		}
	}
	//textimonial
	.testimonial-items{
		padding: 25px 20px 30px;
		h3{
			font-size: 26px;
		}
		p{
			font-size: 16px;
		}
		.man-profile{
			margin-top: 25px;
			.ratting{
				justify-content: flex-end;
				margin: 0 0 0 auto;
			}
		}
	}
	//global afiliate
	.global-afiliate-conetn{
		h1{
			font-size: 30px;
			line-height: 1.4;
			margin-bottom: 20px;
		}
		h4{
			font-size: 20px;
		}
	}
	.global-parcent-left{
		h2{
			margin-bottom: 10px;
			font-size: 30px;
			line-height: 1.2;
		}
		p{
			margin-bottom: 10px;
		}
		h3{
			font-size: 24px;
		}
		.cmn--grp{
			margin-top: 10px;
			.cmn--btn{
				padding: 9px 25px 10px;
			}
			.border-btn{
				padding: 6px 25px 7px;
			}
		}
	}
	//Advanteg 
	.advanteg-items{
		 .advanteg-content{
			 padding-left: 15px;
			 h5{
				 font-size: 18px;
				 font-weight: 600;
				 margin-bottom: 8px;
			 }
			 p{
				font-size: 15px;
			 }
		 }
	 }
	 // Commission //
	.commission-content{
		h2{
			font-size: 24px;
			margin-bottom: 1px;
		}
		h1{
			font-size: 38px;
			text-align: right;
		}
	}
	.progress-calculation{
		li{
			width: calc(100% / 5);
			padding: 5px 5px;
			font-size: 16px;
		}
	}
	//Faq accordion 
	.faq-warpper{
		.accordion-item{
			.accordion-button {
				font-size: 20px;
			}
		}
		.accordion-body {
			background-color: var(--Breadcumnd);
			padding: 15px 15px;
			p{
				color: var(--white);
				font-size: 15px;
			}
		}
	}
	//contact
	#form{
		padding: 20px 15px 30px 15px;
	}
	.contact-right-wrapper{
		.contact-headeing{
			h2{
				margin-bottom: 15px;
				font-size: 30px;
				line-height: 1.1;
			}
			margin-bottom: 37px;
			p{
				font-size: 22px;
			}
		}
		.contact-list{
			li{
				&:not(:last-child){
					margin-bottom: 18px;
				}
				.contact-items{
					.thumb{
						width: 70px;
						height: 70px;
					}
					.content{
						width: calc(100% - 70px);
						margin-top: 10px;
						h4{
							font-size: 21px;
						}
					}
				}
			}
		}
	}
	//medals
	.medal-section-wrapper{
		padding: 30px 20px;
	}
	.medals-slider{
		margin-top: 35px;
	}
	.medal-conent{
		h2{
			font-size: 32px;
			margin-bottom: -1px;
		}
	}
}
@media screen and (max-width: 1199px){
	.winner-items{
		.winner-thumb{
			width: 100px;
			height: 100px;
		}
		.winner-content{
			width: calc(100% - 100px);
			p{
				font-size: 16px;
			}
		}
	}
	//main body
	.body-middle{
		padding-bottom: 68px;
	}
	//big lottery
	.pool-wrapper{
		padding: 40px 20px 40px;
	}
	.pool-content{
		margin-right: 0;
		padding: 25px 20px;
	}
	.pool-img{
		width: 100%;
		img{
			@include imgw;
		}
		margin-left: -0px;
	}
}
@media screen and (max-width: 991px){
	.footer-wrapper{  
		.footer-top{
			@include flex;
			.footer-link-left{
				@include flex;
				align-items: center;
				li{
					&:not(:last-child){
						margin-right: 20px;
					}
				}
			}
		}
		.footer-bootm{
			p{
				color: var(--white);
				font-size: 14px;
				text-align: center;
				a{
					color: var(--base);
				}
			}
		}
	}
	//Global afiliate
	.global-parcent-left{
		h2{
			margin-bottom: 5px;
			font-size: 28px;
			line-height: 1.4;
		}
		p{
			margin-bottom: 5px;
		}
		h3{
			font-size: 22px;
		}
		.cmn--grp{
			margin-top: 10px;
			.cmn--btn{
				padding: 9px 25px 10px;
			}
			.border--btn{
				padding: 9px 25px 10px;
			}
		}
	}
}
@media screen and (max-width: 767px){
	//Letest section
	.letest-wrapper2,
	.letest-wrapper3,
	.letest-wrapper{
		.crime-items{
			flex-wrap: nowrap;
			.crime-thumb{
				width: 80px;
			}
			.crime-content{
				width: calc(100% - 80px);
				.logo{
					width: 60px;
					height: 15px;
				}
			}
			.video-btn{
				@include radius;
				width: 40px;
				height: 40px;
				line-height: 40px;
				@include gradian-bg;
			}
		} 
	}
	//footer
	.footer-wrapper{  
		background: var(--footer);
		.footer-top{
			padding: 40px 40px 30px;
			@include flex;
			flex-wrap: wrap;
			justify-content: center;
			.footer-link-left{
				margin-top: 10px;
				order: 1;
				li{
					&:not(:last-child){
						margin-right: 20px;
					}
				}
			}
		}
		.footer-bootm{
			padding: 20px 10px 24px;
		}
	}
	//section title
	.section-wrapper{
		.left-title{
			font-size: 36px;
		}
	}
	//Search provider
	.search-provider-wrapper{
		display: grid;
		justify-content: center;
		.right-search{
			margin-top: 15px;
			width: 100%;
		}
	}
	//bonus shop 
	.bonus-button-wrapper{
		@include flex;
		display: grid;
		margin-bottom: 25px;
		.bonus-title{
			margin-bottom: 20px;
			padding: 0;
		}
		.nav{
			li{
				margin: 0 10px 10px 0 !important;
				&:not(:last-child){
					margin-right: 0px;
				}
				.cmn--btn{
					padding: 6px 16px 7px;
					font-size: 14px;
				}
			}
		}
	}
	//reword 
	.reword-section{
		padding: 20px 1px 0;
	}
	.reword-content{
		h2{
			font-size: 28px;
		}
		p{
			font-size: 18px;
		}
	}
	.reword-box{
		padding: 30px 15px;
		h3{
			margin-bottom: 10px;
		}
		p{
			font-size: 18px;
		}
		.claim-box{
			padding: 30px 15px;
		}
	}
	.weekly-bonus{
		padding: 30px 15px;
		h3{
			margin-bottom: 15px;
		}
		p{
			font-size: 18px;
		}
	}
	.reword-thumb{
		display: none;
	}
	// Lottery
	.pool-img{
		margin-bottom: 30px;
	}
	//Global afiliate
	.global-parcent-left{
		margin-bottom: 30px;
	}
	//commission
	.commission-content{
		margin-bottom: 25px;
	}
	//table 
	.table-wrapper{
		table{
			width: 700px;
		}
	}
}
@media screen and (max-width: 575px){
	.queen{
		min-height: 180px;
	}
	.winner-items{
		.winner-thumb{
			width: 150px;
			height: 120px;
		}
		.winner-content{
			width: calc(100% - 150px);
		}
	}
	//Letest section
	.letest-wrapper2,
	.letest-wrapper3,
	.letest-wrapper{
		.crime-items{
			background-color: var(--box-bg);
			padding: 25px;
		} 
	}
	.btn-top-group .border-btn {
		margin-right: 10px;
	}
	.main-list-menu{
		li{
			&:first-child{
				margin-right: 35px;
			}
		}
	}
	//footer
	.footer-wrapper{  
		background: var(--footer);
		.footer-top{
			padding: 40px 20px 30px;
			.footer-link-left{
				li{
					margin: 10px 0 0 10px;
					&:not(:last-child){
						margin-right: 14px;
					}
				}
			}
		}
	}
	//Crime
	.section-wrapper{
		.left-title{
			font-size: 22px;
		}
		margin-bottom: 20px;
		.cmn--btn{
			padding: 4px 15px 5px;
		}
	}
	.crime-wrapper{
		.owl-nav{
			top: -75px;
			right: 0;
		}
	}
	.casino-demo-wrapper{
		.owl-nav{
			position: absolute;
			top: -70px;
			right: 115px;
			button.owl-prev{
				width: 30px;
				height: 30px;
			}
			button.owl-next{
				width: 30px;
				height: 30px;
			}
		}
	}
	//button
	.bt{
		margin-top: 29px;
	}
	//live Section wrappwer
	.section-wrapper.live-section-wrapper{
		.left-title{
			display: grid;
			flex-wrap: wrap;
		}
	}
	//testimonial
	.testimonial-slider{
		.owl-nav{
			top: -72px;
		}
	}
	.testimonial-items{
		padding: 20px 15px 25px;
		h3{
			font-size: 21px;
			margin-bottom: 5px;
		}
		p{
			font-size: 15px;
		}
		.man-profile{
			margin-top: 25px;
			.ratting{
				justify-content: flex-end;
				margin: 0 0 0 auto;
			}
		}
	}
	//global afilite
	.global-afiliate{
		padding: 50px 0 40px;
	}
	.global-afiliate-conetn{
		margin-bottom: 30px;
		h1{
			font-size: 24px;
		}
		.cmn--btn{
			padding: 8px 35px;
		}
	}
	.global-thumb{
		max-width: 350px;
		img{
			width: 100%;
		}
	}
	//Commission
	.commission-content{
		h2{
			font-size: 21px;
			margin-bottom: 10px;
		}
		h1{
			font-size: 28px;
		}
	}
	//accordion faq
	.faq-warpper{
		.accordion-item{
			.accordion-button {
				padding: 13px 12px 13px 17px;
				font-size: 18px;
				line-height: 1.4;
			}
		}
		.accordion-body {
			background-color: var(--Breadcumnd);
			padding: 15px 15px;
			p{
				color: var(--white);
				font-size: 15px;
			}
		}
	}
	//Medal
	.medal-list{
		flex-wrap: wrap;
		li{
			width: 100%;
			&:not(:last-child){
				margin-right: 0px;
				margin-bottom: 5px;
			}
			.scale-bar{
				height: 8px;
			}
		}
	}
	.chat-modal .chat-icon img {
		width: 30px;
		height: 30px;
	}
}
@media screen and (max-width: 530px){
	.other-bonus-items{
		border-radius: 10px;
		background-color: var(--form-bg);
		padding: 20px 15px; 
		display: flex;
		align-items: center;
		justify-content: space-between;
		.content{
			h3{
				font-size: 18px;
				margin-bottom: 0;
			}
			p{
				margin-bottom: 20px;
				font-size: 14px;
			}
			.cmn--btn{
				padding: 4px 15px 5px;
				font-size: 14px;
			}
		}
		.thumb{
			width: 155px;
			height: 150px;
			img{
				@include imgw;
				object-fit: contain;
			}
		}
	}
	//lottery
	.lottery__numbers__right{
		padding: 25px 20px;
	}
	//invition
	.custom-model-wrap{
		padding: 40px 15px 30px;
	}
	.pop-up-content-wrap{
		.referral-invition{
			.link-wrapper{
				.link-grp{
					text-align: left;
					a{
						padding: 8px 10px 12px !important;
						display: flex;
						font-size: 13px;
						align-items: center;
						justify-content: space-between;
						border-radius: 4px;
					}
					&:not(:last-child){
						margin-bottom: 5px !important;
					}
				}
			}
			a{
				margin-bottom: 10px;
			}
			.claim-wrapper{
				margin-top: 30px;
				display: grid !important;
				justify-content: center !important;
				width: 100% !important;
				.claim-item{
					width: 280px !important;
					.content{
						text-align: left;
						span{
							font-size: 14px;
						}
					}
					.claim{
						font-size: 14px;
					}
					&:not(:last-child){
						margin-right: 0px !important;
					}
				}
			}
			.level-wrapper{
				margin-top: 5px;
				span{
					font-size: 14px;
				}
			}
			.bar{
				height: 7px !important;
			}
		}
	}
	//banner breadcumnd
	.breadcumnd-banner{
		.breadcumnd-content{
			padding: 34px 15px 40px;
			ul{
				li{
					font-size: 16px;
				}
			}
		}
	}
	.left-select-bar{
		gap: 10px;
	}
}
@media screen and (max-width: 480px){
	.letest-wrapper,
	.casino-demo-wrapper{
		.owl-nav{
			display: none;
		}
	}
	//Global afiliate
	.global-parcent-left{
		.cmn--grp{
			.cmn--btn{
				padding: 6px 25px 7px;
			}
			.border-btn{
				padding: 6px 25px 7px;
			}
		}
	}
	//contact
	.contact-right-wrapper{
		.contact-headeing{
			h2{
				margin-bottom: 20px;
			}
			h4{
				font-size: 17px;
				line-height: 1.6;
			}
			margin-bottom: 20px;
		}
	}
	.form-box{
		background-color: var(--form-bg);
		border-radius: 1px;
		padding: 20px 20px 25px;
	}
	//FORM
	#form {
		padding: 30px 15px;
	}
}
@media screen and (max-width: 400px){
	.section-wrapper{
		display: inherit;
		.left-title{
			font-size: 23px;
		}
		margin-bottom: 20px;
		.cmn--btn{
			padding: 4px 14px 5px;
			font-size: 14px;
			width: 150px;
			text-align: center;
			margin-top: 7px;
		}
	}
	.section-wrapper{
		.border-btn{
			margin-top: 7px;
		}
	}
	//Search Provider
	.left-select-bar{
		.nice-select{
			width: 140px;
			padding: 8px 15px 10px 35px;
			&:not(:last-child){
				margin-right: 9px;
			}
			span{
				font-size: 14px;
			}
			.list{
				width: 140px;
				li{
					font-size: 14px;
				}
			}
			&::after{
				width: 9px;
				height: 9px;
			}
		}
	}
	.right-search{
		form{
			input{
				padding: 11px 15px 12px 40px;
			}
		}
	}
	//contact
	.contact-right-wrapper{
		.contact-list{
			li{
				&:not(:last-child){
					margin-bottom: 18px;
				}
				a{
					.thumb{
						width: 50px;
						height: 50px;
					}
					.content{
						width: calc(100% - 50px);
					}
				}
			}
		}
	}
	//referral
	.model-open .custom-model-inner {
		transform: translate(0, 0);
		position: absolute;
		left: 10px;
		transform: translate(-0%, -0%);
		top: 0%;
		z-index: 999;
	}
}
//--Activity Screen end--//

