
//--Preloader Here--//

//--Preloader End--//

.left-site-menu{
    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
    .left-box{
        background-color: var(--box-two);
        position: sticky;
        top: 80px;
        left: 0;
        width: 270px;
        height: 100vh;
		margin-bottom: -20px;
        overflow-y: scroll;
    }
}
.right-site-menu{
    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
    border: 1px solid var(--border) !important;
    border-radius: 0px;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--box-bg); 
        border-radius: 5px;
    }
    .right-box{
        background-color: var(--box-two);
        position: sticky;
        top: 80px;
        right: 0;
        width: 270px;
        height: 100vh;
		margin-bottom: -70px;
        ::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }
          
          /* Track */
          ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px var(--box-bg); 
            border-radius: 5px;
          }
           
          /* Handle */
          ::-webkit-scrollbar-thumb {
            background: var(--primary-color); 
            border-radius: 10px;
          }
          .main-chat-codding{
            position: absolute;
            bottom: 90px;
            left: 0;
            padding: 0 15px;
            form{
                position: relative;
                margin-bottom: 25px;
                input{
                    background: var(--srh) !important;
                    border: none;
                    outline: none;
                    background: transparent;
                    border: 1px solid var(--border);
                    width: 100%;
                    border-radius: 10px;
                    padding: 16px 60px 17px 12px;
                }
                ::placeholder{
                    color: var(--text-pra);
                }
                .telegram{
                    position: absolute;
                    right: 5px;
                    top: 8px;
                    background: none;
                    outline: none;
                    border: none;
                }
            }
            .left-icon{
                @include flex;
                align-items: center;
                &:hover{
                    cursor: pointer;
                }
                span,
                a{
                    label{
                        i{
                            color: #C6C6CB;
                            font-size: 20px;
                            &:hover{
                                cursor: pointer;
                            }
                        }
                    }
                #input-file{
                    display: none;
                }
                &:not(:last-child){
                    margin-right: 10px;
                }
                i{
                    color: #C6C6CB;
                    font-size: 20px;
                }
                }
            }
            .right-icon{
                i{
                    color: #C6C6CB;
                    font-size: 20px;
                }
            }
          }
    }
}

//--Header Top Here--//
.header-top{
	padding: 20px 20px;
	background-color: var(--box-two);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.header-top-wrapper{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	position: relative;
	.logo{
		max-width: 160px;
		img{
			@include imgw;
			object-fit: contain;
		}
	}
	.middle-referral{
		ul{
			display: flex;
			align-items: center;
			li{
				&:first-child{
					padding-right: 22px;
					border-right: 1px solid var(--pragraph);
				}
				&:not(:last-child){
					margin-right: 25px;
				}
				.search-icon{
					width: 18px;
					height: 18px;
					display: block;
					margin-top: -5px;
					display: none;
					img{
						@include imgw;
						object-fit: contain;
					}
				}
				a{
					color: var(--white);
					font-size: 16px;
					line-height: 19px;
					font-weight: 600;
				}
				.home-icon{
					display: block;
					width: 30px;
					height: 30px;
					img{
						@include imgw;
					}
				}
				form{
					position: relative;
					width: 400px;
					input{
						position: relative;
						width: 100%;
						border: 1px solid var(--border);
						background: transparent;
						border-radius: 5px;
						background-color: var(--srh);
						font-size: 16px;
						font-weight: 500;
						padding: 14px 15px 15px 40px;
						outline: none;
						color: var(--white)
					}
					::placeholder{
						color: rgba(255, 255, 255, 0.4);
					}
					.search{
						position: absolute;
						top: 13px;
						left: 14px;
						width: 18px;
						height: 18px;
						img{
							@include imgw;
							object-fit: contain;
						}
					}
				}
			}
			.referral{
				@include flex;
				a{
					&:not(:last-child){
						margin-right: 5px;
					}
					@include gradian-text;
				}
			}
			.form-wrapper{
				margin-left: 25px;
			}
		}
	}
	.header-top-social{
		li{
			&:not(:last-child){
				margin-right: 20px;
			}
			.icon{
				width: 30px;
				height: 30px;
				border-radius: 5px;
				img{
					@include imgw;
					object-fit: contain;
				}
			}
		}
		.btn-top-group{
			margin-left: 25px;
			.cmn--btn{
				&:not(:last-child){
					margin-right: 20px;
				}
			}
			.border-btn{
				&::before{
					background-color: var(--box-two);
				}
			}
		}
	}
}
.main-chat-wrap{
	position: absolute;
	top: 0px;
	bottom: 220px;
	left: 0;
	overflow-y: scroll;
}
.chat-wrapper{
	padding: 35px 15px 0;
	.items{
		&:not(:last-child){
			margin-bottom: 15px;
		}
		.date-divider{
			margin-bottom: 12px;
			.date{
				color: var(--text-pra);
			}
			.date-line{
				width: 75%;
				height: 1px;
				color: var(--pragraph);
				background: #C6C6CB;
			}
		}
		.right-content{
			width: 85%;
			margin: 0 0 0 auto;
			span{
				color: var(--text-pra);
			}
			.box{
				display: block;
				&:not(:last-child){
					margin-bottom: 10px;
				}
				.bg-3{
					background: var(--chat-bg);
					border-radius: 4px;
					padding: 4px 9px 6px;
					font-size: 14px;
					line-height: 19px;
					margin-bottom: 10px;
					display: block;
				}
			}
			.box-head{
				background: var(--chat-bg);
				border-radius: 4px;
				margin-bottom: 20px;
				padding: 7px 9px 6px;
				p{
					font-size: 14px;
					color: var(--white);
					margin-bottom: 5px;
					line-height: 1.5;
				}
				.date{
					border-radius: unset;
					color: var(--text-pra);
				}
			}
		}
		.thumb-divider{
			margin-bottom: 15px;
			.man{
				width: 30px;
				height: 30px;
				img{
					@include imgw;
				}
			}
			.name{
				@include gradian-text;
				width: calc(100% - 30px);
				padding-left: 10px;
			}
		}
		form{
			position: relative;
			margin-top: 29px;
			input{
				background: var(--srh) !important;
				border: none;
				outline: none;
				background: transparent;
				border: 1px solid var(--border);
				width: 100%;
				border-radius: 10px;
				padding: 16px 60px 17px 12px;
			}
			::placeholder{
				color: var(--text-pra);
			}
			.telegram{
				position: absolute;
				right: 5px;
				top: 8px;
				background: none;
				outline: none;
				border: none;
			}
		}
		.left-icon{
			@include flex;
			align-items: center;
			&:hover{
				cursor: pointer;
			}
			span,
			a{
				label{
					i{
						color: #C6C6CB;
						font-size: 20px;
						&:hover{
							cursor: pointer;
						}
					}
				}
			#input-file{
				display: none;
			}
			&:not(:last-child){
				margin-right: 10px;
			}
			i{
				color: #C6C6CB;
				font-size: 20px;
			}
			}
		}
		.right-icon{
			i{
				color: #C6C6CB;
				font-size: 20px;
			}
		}
	}
}
//--Header Top End--//

//--Main Header Here--//
.header {
  background-color: var(--box-two);
  width:100%;
  position: sticky;
  padding: 35px 15px 0px;
  z-index: 99;
  .menu {
    ul {
      li {
		transition: all 0.3s;
		position: relative;
		.submenu{
			background-color: var(--box-bg);
			visibility: hidden;
			position: absolute;
			display: none;
			width:100%;
		}
		.original-sub{
			transition: all 0.4s;
			&:hover {
				.submenu {
					visibility: visible;
					display: block;
					z-index: 999999;
					li{
						a{
							display: block;
						}
					}
				}
			}
		}
		.menu-promot{
			background: var(--tabe-bg);
			border-radius: 10px;
			padding: 15px 0;
			.pro{
				padding: 9px 20px;
				font-size: 20px;
				font-weight: 600;
				line-height: 24px;
				color: #C6C6CB;
			}
			li{
				a:not(.pro){
					display: flex;
					align-items: center;
					font-size: 16px;
					font-weight: 500;
					padding: 0;
					transition: all 0.4s !important;
					border-radius: 4px;
					padding: 9px 20px 10px;
					&:hover,
					&.active{
						background-color: var(--hover-bg);
						span{
							color: var(--white);
							transition: all 0.8s !important;
						}
					}
					.icon{
						margin-right: 10px;
					}
					span{
						font-size: 16px;
						display: block;
						line-height: 19.2px;
						font-weight: 600;
						color: var(--pragraph);
					}
				}
			}
		}
		.menu-promot-middle{
			background: transparent;
			border-bottom: 1px solid var(--pragraph);
			border-radius: 0;
		}
		.menu-promot-bottom{
			background: transparent;
			a{
				span{
					color: #BBBBBB !important;
				}
			}
		}
        a {
          color: var(--white);
          display: block;
          padding: 10px 0px;
        }
		.page-link-wrapper{
			margin-top: 60px;
			padding-top: 20px;
			margin-bottom: 42px;
			display: flex;
			align-items: center;
			border-top: 1px solid var(--pragraph);
			justify-content: center;
			li{
				&:not(:last-child){
					margin-right: 15px;
				}
				a{
					color: #BBBBBB;
					transition: all 0.3s;
					&:hover{
						@include gradian-text;
					}
				}
				.nice-select{
					width: 50px;
					position: relative;
					border: none;
					.icon{
						position: absolute;
						top: -11px;
						left: 0;
						img{
							width: 20px;
							height: 20px;
						}
					}
					.list{
						position: absolute;
						bottom: 100%;
						li{
							font-size: 16px;
							img{
								width: 20px;
								height: 20px;
							}
						}
					}
					&::after{
						width: 10px;
						top: 15%;
						color: var(--text-pra);
						height: 10px;
						font-family: "Font Awesome 5 Free";
						font-weight: 900;
						border-right: none;
						border-bottom: none;
						content: "\f0dd";
						transform: rotate(0deg);
					}
				}
			}
		}
      }
    }
  }
  @media screen and (max-width: 1199px) {
    nav.menu {
      .main-list-menu {
		padding: 80px 0 10px;
        position: fixed;
        bottom: 0;
        left: 0;
        top: 0;
        margin-left: -1000px;
        z-index: 1;
        background-color: var(--box-two);
		overflow-y: scroll;
      }
      &.active {
        position:fixed;
        left: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        ul {
			margin-left: 0;
			width: 25vw;
			max-width: 100%;
			padding-bottom: 40px;;
		  @media screen and (max-width: 991px){
			width: 45vw;
		  }
		  @media screen and (max-width: 575px){
			width: 100vw;
		  }
          li {
            display:block;
            border-bottom: #000;
            &:hover {
              .submenu {
                display:block;
              }
            }
            a {
              width:100%;
              &:hover {
                background: var(--section-bg);
              }
            }
            .flexbox-container {
              a {
                border-right: #fff;
              }
            }
            .submenu {
              max-height: 320px;
              overflow: hidden;
              box-shadow:none;
            }
            &.showSubmenu {
              .submenu {
                max-height: 1000px;
                width:100%;
                position:relative;
                display:block;
                overflow:inherit;
                background-color: var(--section-bg);
                .subOption {
                  border-top: #fff;
                  border-bottom:none;
                  a {
                    padding:15px 40px;
                    &:hover {
                      background:var(--section-bg);
                    }
                  }
                }
              }
            }
          }
        }
      }
      .hamburger {
        display: inline-block;
        position: absolute;
        top: 25px;
        left: 15px;
        padding: 12px 16px;
        color: var(--white);
        cursor: pointer;
        z-index: 2;
        span,
        span:before,
        span:after {
          left: 0;
          border-radius: 2px;
          height: 1.2px;
          width: 28px;
          background: var(--white);
          position: absolute;
          display: block;
          content: '';
        }
        span:before {
          top: -9px;
        }
        span:after {
          bottom: -9px;
        }
        &.active {
          span {
            background-color: transparent;
          }
          span:before,
          &.active span:after {
            top: 0;
          }
          span:before {
			transform: rotate(-45deg);
			display: none;
          }
          span:after {
			transform: rotate(45deg);
			display: none;
          }
        }
      }
	  .hamb{
		display: inline-block;
        position: absolute;
        top: 110px;
        right: 14px !important;
		width: 25px;
		background: var(--white);
        cursor: pointer;
        z-index:2;
		display: none;
		span,
        span:before,
        span:after {
          left: 0;
          border-radius: 2px;
          height: 2px;
          width: 25px;
          background: var(--white);
          position: absolute;
          display: block;
          content: '';
        }
        span:before {
          top: -9px;
        }
        span:after {
          bottom: -9px;
        }
		&.active{
			display: block;
			span{
				background: transparent;
			}
			span:before,
			&.active span:after {
			  top: 0;
			}
			span:before {
			  transform: rotate(-45deg);
			}
			span:after {
			  transform: rotate(45deg);
			}
		}
	  }
    }
	padding: 60px  15px 10px;
  }
}

.dimmer {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #261c5ce6;
  display:none;
  &.active {
    display: block;
  }
}

.no-scrolling {
  overflow: hidden;
  position: fixed;
}
//--Main Header End--//

//--Chat Modal Here--//
.modal{
	top: 79px;
	z-index: 9;
	right: 0;
}
@media (min-width: 576px){
	.modal-dialog {
		max-width: 280px;
		margin: 0 0 0 auto;
		overflow-y: scroll;
	}
}
.modal-backdrop {
	display: none;
}
.chat-modal{
	.chat-icon{
		display: none;
	}
	.modal-body{
		padding: 0;
		.right-site-menu{
			display: block;
			padding-bottom: 65px;
			border-radius: 20px;
			.right-box{
				background: var(--box-two);
			}
		}
	}
}
//--Chat Modal End--//

//--Mobile Here--//
.app-section{
	display: none;
}
.mobile-app{
	justify-content: flex-end;
	padding: 20px 15px;
	li{
		a{
			.icon{
				width: 25px;
				height: 25px;
				margin-right: 3px;
				img{
					object-fit: contain;
					@include imgw;
				}
			}
		}
		.home{
			width: 25px;
			display: block;
			margin-top: -2px;
			img{
				@include imgw;
				object-fit: contain;
			}
		}
		&:not(:last-child){
			margin-right: 20px;
		}
	}
}
//--Mobile End--//

//--Mobile Here--//
.dd {
	z-index:1;
	position:relative;
	display: inline-block;
	width: 100%;
	transition: all 0.3s;
	&:hover{
		background-color: var(--hover-bg) !important;
	}
  }
  .dd-a {
	position:relative;
	transition-duration: 0.2s;
	width: 100%;
	padding: 8px 20px;
	.cont{
		.icon{
			margin-right: 5px;
		}
	}
  }
  .dd input:after {
	content:"";
	width:100%;
	height:2px;
	position:absolute;
	display:block;
	bottom:0;
	left:0;
	transform: scaleX(0);
	transform-origin: bottom left;
	transition-duration: 0.2s;
	-webkit-transform: scaleX(0);
	-webkit-transform-origin: bottom left;
	-webkit-transition-duration: 0.2s;
  }
  .dd input {
	top:0;
	opacity:0;
	display:block;
	padding:0;
	margin:0;
	border:0;
	position:absolute;
	height:100%;
	width:100%;
  }
  .dd input:hover {
	cursor:pointer;
  }
  .dd input:hover ~ .dd-a {
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  }
  .dd input:checked:after {
	transform: scaleX(1);
	-webkit-transform: scaleX(1);
  }
  .dd input:checked ~ .dd-c {
	transform: scaleY(1);
	-webkit-transform: scaleY(1);
  }
  .dd-a span {
	color: #BBBBBB;
	font-weight: 500;
  }
  .dd-c{
	display:block;
	position: absolute;
	height:auto;
	transform: scaleY(0);
	transform-origin: top left;
	transition-duration: 0.2s;
	-webkit-transform: scaleY(0);
	-webkit-transform-origin: top left;
	-webkit-transition-duration: 0.2s;
	width: 100%;
	height: 170px;
	overflow-y: scroll;
  }
  .dd-c ul {
	margin:0;
	padding:0;
	list-style-type: none;
	background: var(--tabe-bg);
  }
  .dd-c li {
	word-break: keep-all;
	white-space:nowrap;
	display:block;
	p
	.dd-c li a{
		display:block;
		position:relative;
		text-decoration: none;
		padding:5px;
	  }
	  .dd-c li a::before{
		z-index:0;
		content:"";
		position:absolute;
		display:block;
		height:100%;
		width:100%;
		-webkit-transition-duration: 0.2s;
		transition-duration: 0.2s;
		transform-origin:top left;
		-webkit-transform-origin:top left;
		top:0;
		left:0;
		transform: scaleX(0);
		-webkit-transform: scaleX(0);
	  }
	  .dd-c li a span{
		display:block;
		position:relative;
		-webkit-transition-duration: 0.2s;
		transition-duration: 0.2s;
	  }
	  .dd-c li a:hover:before{
		transform:scaleX(1);
	-webkit-transform:scaleX(1);
	  }
  }
//--Mobile End--//

//--Register Popup Here--//
.cd-popup {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(12, 14, 20, 0.5);
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	z-index: 999999;
  }
.cd-popup.is-visible {
	opacity: 1;
	visibility: visible;
}
.cd-popup-container {
	position: relative;
	width: 100%;
	max-width: 600px;
	margin: 4em auto;
	overflow-y: auto;
	background: var(--form-bg);
	transition-duration: 0.3s;
	padding: 30px 30px;
	border: 1px solid var(--border-two);
	border-radius: 10px;
	.register-from{
		.head{
			text-align: center;
			margin-bottom: 45px;
			h4{
				margin-bottom: 2px;
			}
			p{
				font-size: 16px;
				font-weight: 400;
				line-height: 22px;
				color: var(--white);
				margin-bottom: 0;
			}
			.icon-bar{
				background-color: #2A50F1;
				display: block;
				padding: 7px 0 8px;
				margin-top: 30px;
			}
			.email-bar{
				text-align: center;
				margin-top: 22px;
				.bar{
					display: block;
					width: 100%;
					height: 1px;
					background-color: #C6C6CB;
				}
				.mail-text{
					background-color: var(--form-bg);
					transform: translateY(-14px);
					display: inline-block;
					padding: 0 15px;
				}
			}
		}
		form{
			.items{
				&:not(:last-child){
					margin-bottom: 25px;
				}
				.form-check{
					.form-check-input{
						outline: none;
						border: none;
						background-color: transparent;
						box-shadow: none;
						position: relative;
						background-color: #c1721e;
						&::before{
							content: "";
							position: absolute;
							inset: 0;
						}
					}
				}
				.title{
					margin-bottom: 12px;
				}
				.cmn--btn{
					span{
						position: relative;
						z-index: 1;
					}
				}
				.form-input{
					position: relative;
					width: 100%;
					input{
						position: relative;
						border: none;
						outline: none;
						background: var(--Breadcumnd);
						color: var(--white);
						border-radius: 5px;
						border: 1px solid var(--border-two);
						width: 100%;
						font-size: 14px;
						padding: 16px 20px 22px;
						position: relative;
					}
					::placeholder{
						color: #989898;
					}
					.get{
						display: inline-block;
						width: 70px;
						position: absolute;
						right: 8px;
						bottom: -2px;
					}
				}
				.cmn--btn{
					padding: 12px 15px;
					text-align: center;
					width: 100%;
					border: none;
					margin-bottom: 10px;
					border: 1px solid var(--primary-color);
					&:hover{
						background-color: transparent;
						border: 1px solid var(--border-two);
					}
				}
				.form-check{
					p{
						margin-bottom: 0;
						font-size: 16px;
						color: var(--white);
						a{
							color: var(--theme-color);
						}
					}
				}
				p{
					font-size: 16px;
					line-height: 22px;
					a{
						@include gradian-text;
					}
				}
				.ptext{
					font-size: 16px;
				}
				.form-label{
					font-size: 18px;
					font-weight: 600;
				}
				.forget{
					font-weight: 500;
					transition: all 0.3s;
					margin-bottom: 25px;
					&:hover{
						color: var(--base);
					}
				}
				.form-check{
					margin-bottom: 30px;
				}
			}
		}
	}
}
.cmn--btn{
	span{
		position: relative;
		z-index: 1;
	}
}
//popup two
.opent-code {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(12, 14, 20, 0.5);
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	z-index: 999999;
}
.opent-code.is-visible {
	opacity: 1;
	visibility: visible;
}
.popup-container {
	position: relative;
	width: 100%;
	max-width: 600px;
	margin: 4em auto;
	overflow-y: auto;
	background: var(--form-bg);
	transition-duration: 0.3s;
	padding: 30px 30px;
	border: 1px solid var(--border-two);
	border-radius: 10px;
	.register-from{
		.head{
			text-align: center;
			margin-bottom: 45px;
			h4{
				margin-bottom: 2px;
			}
			p{
				font-size: 16px;
				font-weight: 400;
				line-height: 22px;
				color: var(--white);
				margin-bottom: 0;
			}
			.icon-bar{
				background-color: #2A50F1;
				display: block;
				padding: 7px 0 8px;
				margin-top: 30px;
			}
			.email-bar{
				text-align: center;
				margin-top: 22px;
				.bar{
					display: block;
					width: 100%;
					height: 1px;
					background-color: #C6C6CB;
				}
				.mail-text{
					background-color: var(--form-bg);
					transform: translateY(-14px);
					display: inline-block;
					padding: 0 15px;
				}
			}
		}
		form{
			.items{
				&:not(:last-child){
					margin-bottom: 25px;
				}
				.form-check{
					.form-check-input{
						outline: none;
						border: none;
						background-color: transparent;
						box-shadow: none;
						position: relative;
						background-color: #c1721e;
						&::before{
							content: "";
							position: absolute;
							inset: 0;
						}
					}
				}
				.title{
					margin-bottom: 12px;
				}
				.cmn--btn{
					span{
						position: relative;
						z-index: 1;
					}
				}
				.form-input{
					position: relative;
					width: 100%;
					input{
						position: relative;
						border: none;
						outline: none;
						background: var(--Breadcumnd);
						color: var(--white);
						border-radius: 5px;
						border: 1px solid var(--border-two);
						width: 100%;
						font-size: 14px;
						padding: 16px 20px 22px;
						position: relative;
					}
					::placeholder{
						color: #989898;
					}
					.get{
						display: inline-block;
						width: 70px;
						position: absolute;
						right: 8px;
						bottom: -2px;
					}
				}
				.cmn--btn{
					padding: 12px 15px;
					text-align: center;
					width: 100%;
					border: none;
					margin-bottom: 10px;
					border: 1px solid var(--primary-color);
					&:hover{
						background-color: transparent;
						border: 1px solid var(--border-two);
					}
				}
				.form-check{
					p{
						margin-bottom: 0;
						font-size: 16px;
						color: var(--white);
						a{
							color: var(--theme-color);
						}
					}
				}
				p{
					font-size: 16px;
					line-height: 22px;
					a{
						@include gradian-text;
					}
				}
				.ptext{
					font-size: 16px;
				}
				.form-label{
					font-size: 18px;
					font-weight: 600;
				}
				.forget{
					font-weight: 500;
					transition: all 0.3s;
					margin-bottom: 25px;
					&:hover{
						@include gradian-text;
					}
				}
				.form-check{
					margin-bottom: 30px;
				}
			}
		}
	}
}
//popup three
.repeatpopup {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(12, 14, 20, 0.5);
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	z-index: 999999;
}
.repeatpopup.is-visible {
	opacity: 1;
	visibility: visible;
}
.repeatpopup-container {
	position: relative;
	width: 100%;
	max-width: 600px;
	margin: 4em auto;
	overflow-y: auto;
	background: var(--form-bg);
	transition-duration: 0.3s;
	padding: 30px 30px;
	border: 1px solid var(--border-two);
	border-radius: 10px;
	.register-from{
		.head{
			text-align: center;
			margin-bottom: 45px;
			h4{
				margin-bottom: 2px;
			}
			p{
				font-size: 16px;
				font-weight: 400;
				line-height: 22px;
				color: var(--white);
				margin-bottom: 0;
			}
			.icon-bar{
				background-color: #2A50F1;
				display: block;
				padding: 7px 0 8px;
				margin-top: 30px;
			}
			.email-bar{
				text-align: center;
				margin-top: 22px;
				.bar{
					display: block;
					width: 100%;
					height: 1px;
					background-color: #C6C6CB;
				}
				.mail-text{
					background-color: var(--form-bg);
					transform: translateY(-14px);
					display: inline-block;
					padding: 0 15px;
				}
			}
		}
		form{
			.items{
				&:not(:last-child){
					margin-bottom: 25px;
				}
				.form-check{
					.form-check-input{
						outline: none;
						border: none;
						background-color: transparent;
						box-shadow: none;
						position: relative;
						background-color: #c1721e;
						&::before{
							content: "";
							position: absolute;
							inset: 0;
						}
					}
				}
				.title{
					margin-bottom: 12px;
				}
				.cmn--btn{
					span{
						position: relative;
						z-index: 1;
					}
				}
				.form-input{
					position: relative;
					width: 100%;
					input{
						position: relative;
						border: none;
						outline: none;
						background: var(--Breadcumnd);
						color: var(--white);
						border-radius: 5px;
						border: 1px solid var(--border-two);
						width: 100%;
						font-size: 14px;
						padding: 16px 20px 22px;
						position: relative;
					}
					::placeholder{
						color: #989898;
					}
					.get{
						display: inline-block;
						width: 70px;
						position: absolute;
						right: 8px;
						bottom: -2px;
					}
				}
				.cmn--btn{
					padding: 12px 15px;
					text-align: center;
					width: 100%;
					border: none;
					margin-bottom: 10px;
					border: 1px solid var(--primary-color);
					&:hover{
						background-color: transparent;
						border: 1px solid var(--border-two);
					}
				}
				.form-check{
					p{
						margin-bottom: 0;
						font-size: 16px;
						color: var(--white);
						a{
							color: var(--theme-color);
						}
					}
				}
				p{
					font-size: 16px;
					line-height: 22px;
					a{
						@include gradian-text;
					}
				}
				.ptext{
					font-size: 16px;
				}
				.form-label{
					font-size: 18px;
					font-weight: 600;
				}
				.forget{
					font-weight: 500;
					transition: all 0.3s;
					margin-bottom: 25px;
					&:hover{
						color: var(--base);
					}
				}
				.form-check{
					margin-bottom: 30px;
				}
			}
		}
	}
}
//--Register Popup End--//
